body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

a {
  /* color: #00b7ff; */
  /* text-decoration: none !important;
  color: inherit; */
}

.sidebar-nav {
  list-style: none;
}
